body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
  }
  
  .logo {
    margin-left: 80px;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .search-bar {
    flex-grow: 1;
    justify-content: center;
    display: flex;
  }
  
  .search-bar input {
    width: 40%;
    padding: 7px;
    margin-left: 550px;
    border-radius: 5px;
    border: 2px solid black;
  }
  
  .account-button {
    margin-right: 200px;
    color: white;
    background-color: #7e5170;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .img_container {
    display: flex;
    width: 100%;
    height: 350px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 30px;
  }
  
  .background_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .background_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.541);
    z-index: 0;
  }
  
  .text_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    z-index: 1;
  }
  
  .banner-text {
    width: 50%;
    margin-left: 130px;
  }
  
  .community {
    margin-right: 180px;
    display: flex;
    background: white;
    width: 230px;
    height: 50px;
    padding: 7px;
    border-radius: 10px;
    justify-content: space-around;
  }
  
  .community_link {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: medium;
  }
  
  .button_container {
    padding: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .button {
    padding: 10px;
    width: 140px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    color: black;
    font-size: medium;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-decoration: none;
    box-shadow: 0 4px rgba(0, 0, 0, 0.3);
  }
  
  .button a {
    text-decoration: none;
    color: black;
  }
  
  .button:hover {
    background-color: #7e5170;
    border-color: #7e5170;
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
  }
  
  .section_container {
    padding: 20px;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .section h2 {
    margin-bottom: 20px;
  }
  
  .section_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .section_item {
    border: 1px solid #0f0f0f;
    padding: 10px;
    margin: 10px;
    flex: 1;
    max-width: 250px;
    text-align: center;
  }
  
  .section img {
    width: 100px;
    height: 400px;
    border: 2px solid black;
  }
  
  .section_text {
    margin-top: 10px;
  }
  